<!-- Navigation Bar -->
<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"><img src="../images/akadsWhiteWeb.png" alt="akadstextlogo" height="35" width="100"></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!-- <a class="nav-link" href="#">Sign out</a> -->
        <a class="btn btn-sm btn-outline-light" href="/users/logout" role="button">Sign Out</a>
      </li>
    </ul>
  </nav>

<div class="container-fluid">
    <div class="row">
        <!-- Side Navigation Bar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-home"></i>
                    Parent Dashboard <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/users/findtutor">
                    <i class="fas fa-search"></i>
                    Find a Tutor
                </a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-arrow-up"></i>
                    Upcoming Sessions
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dasboard">
                    <i class="fas fa-arrow-down"></i>
                    Past Sessions
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="fas fa-cog"></i>
                    Settings
                </a>
                </li>
            </ul>
            </div>
        </nav>

          <!-- Dashboard -->
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h2>Checkout Form</h2>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-lg btn-info"><i class="far fa-calendar-alt"></i> BOOK A TUTOR</button>
                  </div>
              </div>
              <%- include('partials/messages'); %>
              
              <form action="/users/checkout" method= "POST" padding: 0 10% 5%;>
                <div class="row">
                  <div class="col-lg-7">
                    <div>
                      <label class="form-check-label" for="exampleFormControlInput1">Address Line 1</label>
                      <input
                       type="text" 
                       class="form-control"
                       name="line1"
                       id="line1"
                       placeholder="Enter Address Line 1"
                       />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 form-padtop">
                    <label for="exampleFormControlInput1">Address Line 2</label>
                    <input
                     type="text"
                     class="form-control"
                     name="line2"
                     id="line2"
                    >
                  </div>
                  <div class="col-lg-5 form-padtop">
                    <label for="exampleFormControlInput1">City</label>
                    <select
                    type="text"
                    class="custom-select mr-sm-2"
                    name="city"
                    id="city"
                    >
                    <option value="MM">Paranaque City</option>
                    <option value="MM">Caloocan City</option>
                    <option value="MM">Las Pinas City</option>
                    <option value="MM">Makati City</option>
                    <option value="MM">Malabon City</option>
                    <option value="MM">Mandaluyong City</option>
                    <option value="MM">Manila City</option>
                    <option value="MM">Marikina City</option>
                    <option value="MM">Muntinlupa City</option>
                    <option value="MM">Navotas City</option>
                    <option value="MM">Paranaque City</option>
                    <option value="MM">Pasay City</option>
                    <option value="MM">Pasig City</option>
                    <option value="MM">Pateros City</option>
                    <option value="MM">Quezon City</option>
                    <option value="MM">San Juan City</option>
                    <option value="MM">Taguig City</option>
                    <option value="MM">Valenzuela City</option>
                   </select>
                  </div>
                  <div class="col-lg-5 form-padtop">
                    <label for="exampleFormControlInput1">Province</label>
                    <select
                    type="text"
                    class="custom-select mr-sm-2"
                    name="state"
                    id="state"
                    >
                    <option value="NCR">Metro Manila</option>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2 form-padtop">
                    <label for="exampleFormControlInput1">Postal Code</label>
                    <input
                       type="text" 
                       class="form-control"
                       name="postal_code"
                       id="postal_code"
                       />
                  </div>
                  <div class="col-lg-5 form-padtop">
                    <label for="exampleFormControlInput1">Country</label>
                    <select
                    type="text"
                    class="custom-select mr-sm-2"
                    name="country"
                    id="country"
                    >
                    <option value="PH">Philippines</option>
                  </div>
                  <div class="col-lg-5 form-padtop">
                    <label for="exampleFormControlInput1">Name</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    name="name"
                    id="name" 
                    placeholder="Enter Name"
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-7 form-padtop">
                    <label for="exampleFormControlInput1">Email</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    name="email"
                    id="email" 
                    placeholder="Enter Email"
                    >
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 form-padtop">
                      <label for="exampleFormControlInput1">Phone</label>
                      <input 
                      type="text" 
                      class="form-control" 
                      name="phone"
                      id="phone" 
                      placeholder="Enter Phone Number"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7 form-padtop">
                      <label for="exampleFormControlInput1">Credit Card Number</label>
                      <input 
                      type="text" 
                      class="form-control" 
                      name="card_number"
                      id="card_number" 
                      placeholder="Enter Credit Card Number"
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7 form-padtop">
                      <label for="exampleFormControlInput1">Expiration Month</label>
                      <select
                     type="number"
                     class="custom-select mr-sm-2"
                     name="exp_month"
                     id="exp_month"
                    >
                    <option selected>Choose...</option>
                    <% for(var i=1; i <= 12; i++) { %>
                      <option value='<%= i %>'> <%= i %> </option>
                    <% } %>
                    </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-7 form-padtop">
                      <label for="exampleFormControlInput1">Expiration Year</label>
                      <select
                     type="number"
                     class="custom-select mr-sm-2"
                     name="exp_month"
                     id="exp_month"
                    >
                    <option selected>Choose...</option>
                    <% for(var i=2020; i <= 2040; i++) { %>
                      <option value='<%= i %>'> <%= i %> </option>
                    <% } %>
                    </select>
                    </div>
                  </div>

                <!-- Ghost is_taken -->
                <!-- <input id="is_taken" name="is_taken" type="number"> -->
                
                <div class="form-padtop">
                  <button type="submit" class="btn btn-primary"><i class="far fa-check-circle"></i> Submit</button>
                </div>

                <!-- Modal -->
                <!-- <div class="modal fade" id="submitBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Booking Received.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"> -->
                        <!-- <p>Your booking has been received.</p>
                        <p>We will notify you once a tutor has accepted your request.</p>
                        <p>Thank you for booking with AKADS!</p>
                        <p>The New Normal for Tutorials.</p> -->
                      <!-- </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                      </div>
                    </div>
                  </div> -->
                <!-- </div> -->
              </form>
          </main>

      </div>
  </div>