

<!-- Navigation Bar -->
<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/dashboard"><img src="../images/akadsWhiteWeb.png" alt="akadstextlogo" height="35" width="100"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <!-- <a class="nav-link" href="#">Sign out</a> -->
      <a class="btn btn-sm btn-outline-light" href="/users/logout" role="button">Sign Out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
      <!-- Side Navigation Bar -->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
              <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                  <i class="fas fa-home"></i>
                  Parent Dashboard <span class="sr-only">(current)</span>
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link active" href="/users/findtutor">
                  <i class="fas fa-search"></i>
                  Find a Tutor
              </a>
              </li>
              <li class="nav-item">
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                  <i class="fas fa-arrow-up"></i>
                  Upcoming Sessions
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                  <i class="fas fa-arrow-down"></i>
                  Past Sessions
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="pdbsettings.html">
                  <i class="fas fa-cog"></i>
                  Settings
              </a>
              </li>
          </ul>
          </div>
      </nav>

        <!-- Checkout Form -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Checkout Form</h2>                
                <div class="btn-toolbar mb-2 mb-md-0">
                  <a class="btn btn-lg btn-info" href="/users/findtutor" role="button"><i class="far fa-calendar-alt"></i> BOOK A TUTOR</a>
                </div>
            </div>
            <%- include('partials/messages'); %>
            
            <form action="/users/submitpayment" method="POST" style="padding: 0 2% 2%;">
              <img style="margin-bottom: 2%; margin-top:1%" src="../images/paymongo-logo-green.png" alt="paymongologo" width="15%">
              <h3>Billing Address</h3>
              <div class="row">
                <div class="col-lg-12">
                  <div>
                    <label class="form-check-label" for="exampleFormControlInput1">Address Line 1</label>
                    <input type="text" class="form-control" id="line1" name="line1" placeholder="Enter Address Line 1">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-padtop">
                  <div>
                    <label class="form-check-label" for="exampleFormControlInput1">Address Line 2</label>
                    <input type="text" class="form-control" id="line2" name="line2" placeholder="Enter Address Line 2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 form-padtop">
                  <label for="exampleFormControlInput1">City</label>
                  <select type="text" class="form-control custom-select mr-sm-2" id="city" name='city' placeholder="Enter Grade Level">
                    <option value="Caloocan City">Caloocan City</option>
                    <option value="Las Pinas City">Las Pinas City</option>
                    <option value="Makati City">Makati City</option>
                    <option value="Malabon City">Malabon City</option>
                    <option value="Mandaluyong City">Mandaluyong City</option>
                    <option value="Manila City">Manila City</option>
                    <option value="Marikina City">Marikina City</option>
                    <option value="Muntinlupa City">Muntinlupa City</option>
                    <option value="Navotas City">Navotas City</option>
                    <option value="Paranaque City">Paranaque City</option>
                    <option value="Pasay City">Pasay City</option>
                    <option value="Pasig City">Pasig City</option>
                    <option value="Pateros City">Pateros City</option>
                    <option value="Quezon City">Quezon City</option>
                    <option value="San Juan City">San Juan City</option>
                    <option value="Taguig City">Taguig City</option>
                    <option value="Valenzuela City">Valenzuela City</option>
                  </select>
                </div>
                <div class="col-lg-3 form-padtop">
                  <label for="exampleFormControlInput1">Province</label>
                  <select type="text" class="form-control custom-select mr-sm-2" id="state" name='state' placeholder="Enter Grade Level">
                    <option value="Metro Manila">Metro Manila</option>
                  </select>
                </div>
                <div class="col-lg-3 form-padtop">
                    <label for="exampleFormControlInput1">Postal Code</label>
                    <input type="" class="form-control" id="postal_code" name="postal_code" placeholder="Enter Postal Code">
                  </div>
                <div class="col-lg-3 form-padtop">
                  <label for="exampleFormControlInput1">Country</label>
                  <select type="text" class="form-control custom-select mr-sm-2" id="country" name='country' placeholder="Enter Grade Level">
                    <option value="PH">Philippines</option>
                  </select>
                </div>
              </div>

              <h3 style="margin-top:1%">Payment Details</h3>
              <div class="row">
                <div class="col-lg-3 form-padtop">
                  <label for="exampleFormControlInput1">Credit Card Name</label>
                  <input type="" class="form-control" id="name" name="name" placeholder="Enter Name">
                </div>
                <div class="col-lg-3 form-padtop">
                  <label for="exampleFormControlInput1">Email</label>
                  <input type="" class="form-control" id="email" name="email" placeholder="example@email.com">
                </div>
                <div class="col-lg-3 form-padtop">
                  <label for="exampleFormControlInput1">Phone Number</label>
                  <input type="" class="form-control" id="phone" name="phone" placeholder="+63">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 form-padtop">
                  <div>
                    <label class="form-check-label" for="exampleFormControlInput1">Credit Card Number</label>
                    <input type="text" class="form-control" id="card_number" name="card_number" placeholder="XXXX XXXX XXXX XXXX">
                  </div>
                </div>
              </div>
              <div class="row form-padtop">
                <div class="col-lg-1">
                    <label class="form-check-label" for="exampleFormControlInput1">Exp. Month</label>
                    <select
                 type="number"
                 class="custom-select mr-sm-2"
                 name="exp_month"
                 id="exp_month"
                >
                <option selected></option>
                <% for(var i=1; i <= 12; i++) { %>
                  <option value='<%= i %>'> <%= i %> </option>
                <% } %>
                </select>
                </div>
                <div class="col-lg-1">
                    <label class="form-check-label" for="exampleFormControlInput1">Exp. Year</label>
                    <select
                 type="number"
                 class="custom-select mr-sm-2"
                 name="exp_year"
                 id="exp_year"
                >
                <option selected></option>
                <% for(var i=2020; i <= 2040; i++) { %>
                  <option value='<%= i %>'> <%= i %> </option>
                <% } %>
                </select>
                </div>
                <div class="col-lg-1">
                    <label class="form-check-label" for="exampleFormControlInput1">CVC</label>
                    <input type="text" class="form-control" id="cvc" name="cvc" placeholder="xxx" maxlength="3">
                </div>
              </div>
              <div class="row my-3">
                  <div class="col-lg-5">
                    <h3>Session Details</h3>
                    <p><strong>Session #:</strong> <%= currentSession.session_id %></p>
                    <p><strong>Tutor:</strong> <%= currentSession.tutor_name %></p>
                    <p><strong>Subject:</strong> <%= currentSession.subject %></p>
                    <p><strong>Student Name:</strong> <%= currentSession.student_name %></p>
                    <p><strong>Date:</strong> <%= currentSession.tutorial_date %></p>
                    <p><strong>Time:</strong> <%= currentSession.tutorial_time %></p>
                    <p><strong>Duration:</strong> <%= currentSession.session_duration%> hour/s</p>
                    <p><strong>Topic:</strong> <%= currentSession.topic %></p>
                    <p><strong>Special sessions: </strong><%= currentSession.special_requests %></p>
                  </div>
                  <div class="col-lg-5">
                    <h3>Cart</h3>
                    <div class="table-responsive">
                      <table class="table table-striped table-sm table-bordered" style="text-align:justify">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Normal Tutor Fee (₱ 500)</td>
                            <td style="text-align: center;"><%= currentSession.session_duration %></td>
                            <td>₱ <%= currentSession.session_duration * 500 %></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><strong>SUBTOTAL</strong></td>
                            <td>₱ <%= currentSession.session_duration * 500 %><input type="hidden" id="amount" name="amount" value="<%= currentSession.session_duration * 500 %>" readonly></td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- Submit Button-->
                      <div class="col-lg-3 mx-auto">
                        <button class="btn btn-primary mt-4" type="submit" id="submitbutton"><i class="far fa-check-circle"></i> Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </main>
    </div>
</div>

<script>

  // async function getData() {
  //   const response = await fetch('/users/checkout');
  //   const data = await response.json();
  //   console.log(data);
  // }
  // console.log(JSON.stringify(intentPayment));
  document.getElementById("submitbutton").addEventListener("click", () => {
    console.log(intentPayment);
    alert('button clicked');
    // Create Payment Method
    
    var data = JSON.stringify({
        "data": {
          "attributes": {
            "details": {
              "card_number": document.getElementById("card_number").value,
              "exp_month": document.getElementById("exp_month").value,
              "exp_year": document.getElementById("exp_year").value,
              "cvc": document.getElementById("cvc").value
            },
            "billing": {
              "address": {
                "line1": document.getElementById("line1").value,
                "line2": document.getElementById("line2").value,
                "city": document.getElementById("city").value,
                "state": "National Capital Region",
                "postal_code": document.getElementById("postal_code").value,
                "country": "PH"
              },
              "name": document.getElementById("name").value,
              "email": document.getElementById("email").value,
              "phone": document.getElementById("phone").value
            },
            "type": "card"
          }
        }
      });
      
      var xhr = new XMLHttpRequest();
      
      xhr.addEventListener("readystatechange", function () {
        if (this.readyState === this.DONE) {
          console.log(this.responseText);
        }
      });
      
      xhr.open("POST", "https://api.paymongo.com/v1/payment_methods");
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("authorization", "Basic c2tfdGVzdF9KdzJHY05kN2l1U3p5VHVOMlZRenF4Vlo6");
      
        // This PaymentMethod ID must be created before the attach action. This is just a sample value to represent a PaymentMethod
        var paymentMethodId = intentPayment.data.id;

        // PaymentIntent client_key example
        var clientKey = intentPayment.data.attributes.client_key;

        // Get the payment intent id from the client key
        var paymentIntentId = clientKey.split('_client')[0];

        axios.post(
        'https://api.paymongo.com/v1/payment_intents/' + paymentIntentId + '/attach',
        {
            data: {
            attributes: {
                client_key: clientKey,
                payment_method: paymentMethodId
            }
            }
        },
        {
            headers: {
            // Base64 encoded public PayMongo API key.
            Authorization: `Basic ${window.btoa(pk_test_e4wyG5SyP5Bh96Fw6948XwBK)}`
            }
        }
        ).then(function(response) {
        var paymentIntent = response.data.data;
        var paymentIntentStatus = paymentIntent.attributes.status;
        
        if (paymentIntentStatus === 'awaiting_next_action') {
            // render your modal for 3D Secure Authentication since next_action has a value. You can access the next action via paymentIntent.attributes.next_action.
            console.log('3D authentication required');
        } else if (paymentIntentStatus === 'succeeded') {
            // You already received your customer's payment. You can show a success message from this condition.
            console.log('Payment Successful');
        } else if(paymentIntentStatus === 'awaiting_payment_method') {
            // The PaymentIntent encountered a processing error. You can refer to paymentIntent.attributes.last_payment_error to check the error and render the appropriate error message.
            console.log('Payment Failed');
        }
        })
});

</script>